<h1>User Info </h1>

<%= form_with model:@user, local:true do |f| %>

  <p class="text">Name</p>
  <%= f.text_field :name %>
  <p class="text">Photo</p>
  <%= f.attachment_field :profile_image %>

  <p class="text">Introduce</p>
  <%= f.text_area :introduction %>

  <p class="text">
  <%= f.submit 'Update Book' %>
  </p>

<% end %>